
node {
	fill-mode: plain;
	stroke-mode: plain;
}

node.home{
	fill-color: rgb(0, 102, 255);
	shape: diamond;
	size:15px,15px;
	text-alignment: above;
	text-size: 20;
}

node.school{
	fill-color: rgb(236, 233, 12);
	shape: diamond;
	size:20px,20px;
	text-alignment: above;
	text-size: 20;
}

node.work{
	fill-color: rgb(67, 0, 190);
	shape: diamond;
	size:20px,20px;
	text-alignment: above;
	text-size: 20;
}

/* Citizens */
node.S{
	fill-color: rgb(3, 182, 3);
}

node.E{
	fill-color: rgb(255, 102, 0);
}

node.I{
	fill-color: rgb(255, 0, 0);
}

node.D{
	fill-color: rgb(0, 0, 0);
	shape: cross;
}

node.R{
	fill-color: rgb(19, 83, 0);
}


edge.inactive {
	visibility-mode: hidden;
}

edge.active {
	visibility-mode: normal;
	fill-mode: plain;
	fill-color: red;
}

/*
edge {
	shape: line;
	fill-mode: dyn-plain;
	stroke-mode: plain;
}
*/
/*
edge.inactive {
	stroke-color: lightgray;
	visibility-mode:hidden;
}
edge.infection{
	stroke-color: red;
}
*/
